<html>
    <body>
        <header>
            <table style="width: 100%;">
                <tr>
                    <td style="width: 30%;">
                        <img id="logo" src="{{ url_for('static', filename='images/logo_1.png') }}" alt="Company Logo" class="logo_image">
                    </td>
                    <td style="width: 70%;">
                        <h1> FAQ's </h1>
                    </td>  
                    <td> <h1>  . </h1>   </td>
                    <td> <h1>  . </h1>   </td>
                    <td>  <h1>  . </h1>  </td>
                </tr>
         
                <tr>
                    <td colspan="3" style="text-align: center;">
         
                        <a href="{{ url_for('welcome') }}" class="help_link"> Home </a>
                    </td>
                </tr>
            </table>
        </header>
    </body>
</html>